.award-form{
    margin-top:2rem;
    margin-bottom: 2rem;

}

img{
    height:450px !important;
    width:100% !important;
}

.carousel-caption p{
    color:orange;
    font-size: 1.5rem !important;
}


@media screen and (max-width:560px){
    img{
        width:100%;
        height:350px !important;
    }
}
